.item_container {
  /* border: solid blue 1px; */
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.item_icon_container {
  /* border: solid 1px red; */
  background-color: #404243;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 100%;
}

.item_details {
  /* border: solid red 1px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 185px;
  height: 39px;
}

.item_title {
  font-size: 12px;
  color: #B7B7B7;
}

.reading {
font-size: 18px;
}
